* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

.wrapper {
    width: 75%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    background: white;
    border-radius: 20px;
}


.content
{
    padding-left: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
}

.form-group {
    margin-bottom: 25px;
}

.form-group label
{
    margin-bottom: 12px;
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
}

.form-check p
{
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
}

  
  #page {
    background:
    repeating-linear-gradient(190deg, rgba(255, 0, 0, 0.5) 40px,
      rgba(255, 153, 0, 0.5) 80px, rgba(255, 255, 0, 0.5) 120px,
      rgba(0, 255, 0, 0.5) 160px, rgba(0, 0, 255, 0.5) 200px,
      rgba(75, 0, 130, 0.5) 240px, rgba(238, 130, 238, 0.5) 280px,
      rgba(255, 0, 0, 0.5) 300px),
    repeating-linear-gradient(-190deg, rgba(255, 0, 0, 0.5) 30px,
      rgba(255, 153, 0, 0.5) 60px, rgba(255, 255, 0, 0.5) 90px,
      rgba(0, 255, 0, 0.5) 120px, rgba(0, 0, 255, 0.5) 150px,
      rgba(75, 0, 130, 0.5) 180px, rgba(238, 130, 238, 0.5) 210px,
      rgba(255, 0, 0, 0.5) 230px),
    repeating-linear-gradient(23deg, red 50px, orange 100px,
      yellow 150px, green 200px, blue 250px,
      indigo 300px, violet 350px, red 370px);
  }

  .pokemons
  {
      text-align: center;
  }
  
  h1
  {
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'Press Start 2P', cursive;
    font-size: 40px;
  }

  h2
  {
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
  }

  .bt
  {
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: center;
  }

  .bt button{
    background-color:black;
    color: #ffb900;
    font-weight: bold;
    border-radius: none;
  }

  #pikachu {
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    -ms-border-radius: 26px;
    -o-border-radius: 26px;
    border-radius: 26px;
    -webkit-box-shadow: inset 0 -20px 0 0 #ffb900, inset 0 1px 0 0 #ffda30;
    -moz-box-shadow: inset 0 -20px 0 0 #ffb900, inset 0 1px 0 0 #ffda30;
    box-shadow: inset 0 -20px 0 0 #ffb900, inset 0 1px 0 0 #ffda30;
    position: relative;
    display: inline-block;
    margin: 15px;
    width: 200px;
    height: 200px;
    background: #ffcd32;
  }
  #pikachu:before {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 1px #21222c, 88px 0 0 0 #302d2d, 88px 0 0 1px #21222c, -18px 56px 0 2px #ef4144, -18px 56px 0 3px #ff3845, 108px 56px 0 2px #ef4144, 108px 56px 0 3px #ff3845;
    -moz-box-shadow: 0 0 0 1px #21222c, 88px 0 0 0 #302d2d, 88px 0 0 1px #21222c, -18px 56px 0 2px #ef4144, -18px 56px 0 3px #ff3845, 108px 56px 0 2px #ef4144, 108px 56px 0 3px #ff3845;
    box-shadow: 0 0 0 1px #21222c, 88px 0 0 0 #302d2d, 88px 0 0 1px #21222c, -18px 56px 0 2px #ef4144, -18px 56px 0 3px #ff3845, 108px 56px 0 2px #ef4144, 108px 56px 0 3px #ff3845;
    content: " ";
    position: absolute;
    top: 46px;
    left: 36px;
    width: 40px;
    height: 40px;
    background: #302d2d;
    z-index: 10;
  }
  #pikachu:after {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 3px 0 0 #302d2d, 0 4px 0 0 #21222c, 32px 0 0 0 #ffcd32, 32px 3px 0 0 #302d2d, 32px 4px 0 0 #21222c, 1px 4px 0 0 #302d2d, 31px 4px 0 0 #302d2d, 15px -20px 0 -9px #302d2d;
    -moz-box-shadow: 0 3px 0 0 #302d2d, 0 4px 0 0 #21222c, 32px 0 0 0 #ffcd32, 32px 3px 0 0 #302d2d, 32px 4px 0 0 #21222c, 1px 4px 0 0 #302d2d, 31px 4px 0 0 #302d2d, 15px -20px 0 -9px #302d2d;
    box-shadow: 0 3px 0 0 #302d2d, 0 4px 0 0 #21222c, 32px 0 0 0 #ffcd32, 32px 3px 0 0 #302d2d, 32px 4px 0 0 #21222c, 1px 4px 0 0 #302d2d, 31px 4px 0 0 #302d2d, 15px -20px 0 -9px #302d2d;
    content: " ";
    position: absolute;
    top: 100px;
    left: 68px;
    width: 32px;
    height: 22px;
  }
  
  #pokemon-ball {
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    -ms-border-radius: 26px;
    -o-border-radius: 26px;
    border-radius: 26px;
    -webkit-box-shadow: inset 0 -1px 0 0 #201d1d;
    -moz-box-shadow: inset 0 -1px 0 0 #201d1d;
    box-shadow: inset 0 -1px 0 0 #201d1d;
    position: relative;
    display: inline-block;
    margin: 15px;
    width: 200px;
    height: 200px;
    background: #302d2d;
    border-top: solid 78px #ef4144;
    border-bottom: solid 96px #f6f7f8;
  }
  #pokemon-ball:before {
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    -ms-border-radius: 26px;
    -o-border-radius: 26px;
    border-radius: 26px;
    -webkit-box-shadow: inset 0 -20px 0 0 #e2e3e4, inset 0 1px 0 0 #fd4b4d;
    -moz-box-shadow: inset 0 -20px 0 0 #e2e3e4, inset 0 1px 0 0 #fd4b4d;
    box-shadow: inset 0 -20px 0 0 #e2e3e4, inset 0 1px 0 0 #fd4b4d;
    content: " ";
    position: absolute;
    top: -78px;
    left: 0;
    width: 200px;
    height: 200px;
    z-index: 10;
  }
  #pokemon-ball:after {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 1px 0 0 #201d1d, inset 0 0 0 19px #302d2d, inset 0 0 0 20px #201d1d;
    -moz-box-shadow: 0 1px 0 0 #201d1d, inset 0 0 0 19px #302d2d, inset 0 0 0 20px #201d1d;
    box-shadow: 0 1px 0 0 #201d1d, inset 0 0 0 19px #302d2d, inset 0 0 0 20px #201d1d;
    content: " ";
    position: absolute;
    top: -27px;
    left: 60px;
    width: 80px;
    height: 80px;
    background: #f6f7f8;
  }